<html>

<head>
   <meta charset="UTF-8">
   <base href="../">
   <meta http-equiv="content-type" content="text/html;charset=utf-8;" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="styles/plugins/elementui.css">
   <link rel="stylesheet" href="components/css-loader.css">
   <link rel="stylesheet" href="styles/plugins/font-awesome.css">
   <link rel="stylesheet" href="styles/style.css">
   <link rel="stylesheet" href="scripts/plugins/daterangepicker/daterangepicker.css">
   <link rel="stylesheet" href="scripts/plugins/clockpicker/bootstrap-clockpicker.css">

   <title>组件开发环境</title>
   <style>
   </style>
</head>

<body>
   <div id="app">
      <el-row>
         <el-col :span="16">
            <el-card class="box-card">
               <div slot="header" class="clearfix title">
                  <span>时间选择器（包括props、内部条件等）</span>
               </div>
               <div>
                  <table border="1" width="100%">
                     <tr>
                        <td>参数</td>
                        <td>说明</td>
                        <td>类型</td>
                        <td>可选值</td>
                        <td>默认值</td>
                     </tr>
                     <tr>
                        <td>value</td>
                        <td>当前输入框数值</td>
                        <td>string</td>
                        <td>
                           <input type="text" v-model="value">
                        </td>
                        <td>08:00</td>
                     </tr>
                     <tr>
                        <td>placeholder</td>
                        <td>输入框提示内容</td>
                        <td>string</td>
                        <td></td>
                        <td></td>
                     </tr>
                  </table>
               </div>
            </el-card>
            <el-card class="box-card" style="margin-top: 10px;">
               <div slot="header" class="clearfix">
                  <span>组件显示</span>
               </div>
               <vx-form-clockpicker v-model="value" :value.sync="value" :placeholder="placeholder">
               </vx-form-clockpicker>
            </el-card>
            <el-card class="box-card" style="margin-top: 10px;">
               <div slot="header" class="clearfix title">
                  <span>组件数据变量（包括输出结果、内部数据等）</span>
               </div>
               <div>
                  当前选中时间：{{value}}
                  <!-- 输出的结果与内部数据 -->
               </div>
            </el-card>
         </el-col>
         <el-col :span="8">
            <el-card class="box-card" style="margin-left: 10px;">
               <div slot="header" class="clearfix">
                  <span>自动化测试脚本</span>
                  <el-button style="float: right; padding: 3px 0" type="text">开始测试</el-button>
               </div>
               <textarea style="border-radius: 5px; width: 100%; height: 80%;"></textarea>
            </el-card>
         </el-col>
      </el-row>
   </div>
</body>
<!-- 先引入 Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="scripts/plugins/vuex.js"></script>
<!-- 引入组件库 -->
<script type="text/javascript" src="scripts/plugins/elementui.min.js"></script>

<!-- 常用控件库 -->
<script type="text/javascript" src="scripts/plugins/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="scripts/plugins/moment/moment.min.js"></script>
<script type="text/javascript" src="scripts/plugins/moment/moment.zh-cn.js"></script>

<!-- 自定义JS库 -->
<script type="text/javascript" src="scripts/common/jquery.ajax.js"></script>
<script type="text/javascript" src="scripts/common/components-init.js"></script>
<script type="text/javascript" src="scripts/plugins/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="scripts/plugins/clockpicker/bootstrap-clockpicker.js"></script>
<script>
   vueOptions = {
      data() {
         return {
            placeholder: "",   //输出日期格式
            value: "08:00"  //默认时间为当前时间
         }
      },
      watch: {
         value() {
            // console.log(this.value);
         }
      }
   }
</script>
<style>
   table {
      /* width: 100%; */
      border-collapse: separate;
      border-spacing: 2;
   }
</style>
