<html>

<head>
   <meta charset="UTF-8">
   <base href="../">
   <meta http-equiv="content-type" content="text/html;charset=utf-8;" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="styles/plugins/elementui.css">
   <link rel="stylesheet" href="components/css-loader.css">
   <link rel="stylesheet" href="styles/plugins/font-awesome.css">
   <link rel="stylesheet" href="styles/style.css">

   <title>组件开发环境</title>
   <style>
   </style>
</head>

<body>
   <div id="app">
      <el-row>
         <el-col :span="16">
            <el-card class="box-card">
               <div slot="header" class="clearfix title">
                  <span>
                     <b>穿梭框显示</b>组件测试条件（包括props、内部条件等）</span>
               </div>
               <div>
                  <table border="1">
                     <tr>
                        <td>参数</td>
                        <td>方向</td>
                        <td>说明</td>
                        <td>类型</td>
                        <td>可选值</td>
                        <td>默认值</td>
                     </tr>
                     <tr>
                        <td>value</td>
                        <td>输出</td>
                        <td>选中的key值数组</td>
                        <td>数组</td>
                        <td>
                        </td>
                        <td></td>
                     </tr>
                     <tr>
                        <td>values</td>
                        <td>输出</td>
                        <td>object时返回对象数组，string时返回key值数组</td>
                        <td>对象数组/String数组</td>
                        <td>
                        </td>
                        <td></td>
                     </tr>
                     <tr>
                        <td>options</td>
                        <td>输入</td>
                        <td>options数据</td>
                        <td>数组</td>
                        <td>

                        </td>
                        <td>[]</td>
                     </tr>
                     <tr>
                        <td>mode</td>
                        <td>输入</td>
                        <td>返回数据类型 object/string</td>
                        <td>string</td>
                        <td></td>
                        <td>object</td>
                     </tr>
                     <tr>
                        <td>labelfield</td>
                        <td>输入</td>
                        <td>label的字段</td>
                        <td>string</td>
                        <td></td>
                        <td>Name</td>
                     </tr>
                     <tr>
                        <td>keyfield</td>
                        <td>输入</td>
                        <td>key的字段</td>
                        <td>string</td>
                        <td></td>
                        <td>Id</td>
                     </tr>
                  </table>
               </div>
            </el-card>
            <el-card class="box-card" style="margin-top: 10px;">
               <div slot="header" class="clearfix">
                  <span>组件显示</span>
               </div>
               <div>
                  <vx-form-transfer v-model="result" mode="object" :values.sync="values" :options="options"></vx-form-transfer>
               </div>
            </el-card>
            <el-card class="box-card" style="margin-top: 10px;">
               <div slot="header" class="clearfix title">
                  <span>组件数据变量（包括输出结果、内部数据等）</span>
               </div>
               <div>
                  <!-- 输出的结果与内部数据 -->
                  左边数据: {{options}}<br/>
                  显示已经选中得值: {{result}},<br/>
                  显示已经选中得对象: {{values}}
               </div>
            </el-card>
         </el-col>
         <el-col :span="8">
            <el-card class="box-card" style="margin-left: 10px;">
               <div slot="header" class="clearfix">
                  <span>自动化测试脚本</span>
                  <el-button style="float: right; padding: 3px 0" type="text">开始测试</el-button>
               </div>
               <textarea style="border-radius: 5px; width: 100%; height: 80%;"></textarea>
            </el-card>
         </el-col>
      </el-row>
   </div>
</body>
<!-- 先引入 Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="scripts/plugins/underscore.min.js"></script>
<!-- 引入组件库 -->
<script type="text/javascript" src="scripts/plugins/elementui.min.js"></script>

<!-- 常用控件库 -->
<script type="text/javascript" src="scripts/plugins/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="scripts/plugins/moment/moment.min.js"></script>
<script type="text/javascript" src="scripts/plugins/moment/moment.zh-cn.js"></script>

<!-- 自定义JS库 -->
<script type="text/javascript" src="scripts/common/jquery.ajax.js"></script>
<script type="text/javascript" src="scripts/common/jquery.common.js"></script>
<script type="text/javascript" src="scripts/common/components-init.js"></script>
<script type="text/javascript" src="scripts/common/languages.cn.js"></script>
<script>

   vueOptions = {
      data() {
         return {
            Search: "测试条件",
            PageTitle: "组件开发环境",
            placeholder: "请选择",
            result: [],
            values: [],
            options: [{
               Id: 'shanghai',
               Name: '上海'
            }, {
               Id: 'beijing',
               Name: '北京'
            }, {
               Id: 'guangzhou',
               Name: '广州'
            }, {
               Id: 'shenzhen',
               Name: '深圳'
            }, {
               Id: 'nanjing',
               Name: '南京'
            }, {
               Id: 'xian',
               Name: '西安'
            }, {
               Id: 'chengdu',
               Name: '成都'
            }],
         }
      }
   }
</script>
<style>
   table {
      /* width: 100%; */
      border-collapse: separate;
      border-spacing: 2;
   }
</style>
