<html lang="en">

<head>
   <meta charset="UTF-8">
   <base href="../">
   <meta http-equiv="content-type" content="text/html;charset=utf-8;" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title></title>
   <link rel="stylesheet" href="styles/plugins/elementui.css">
   <link rel="stylesheet" href="scripts/plugins/datatables/datatables.min.css">
   <link rel="stylesheet" href="scripts/plugins/datatables/DT_bootstrap.css">
   <link rel="stylesheet" href="components/css-loader.css">
   <link rel="stylesheet" href="styles/plugins/font-awesome.css">
   <link rel="stylesheet" href="styles/style.css">
   <link rel="stylesheet" href="scripts/plugins/daterangepicker/daterangepicker.css">
   <link rel="stylesheet" href="scripts/plugins/clockpicker/bootstrap-clockpicker.css">
</head>

<body>
   <div id="app">
      <el-card class="box-card" style="margin-top: 10px;">
         <vx-basic-button v-bind="Button" @click="FormVisible">
         </vx-basic-button>
         <!-- <vm-page-grid>

         </vm-page-grid> -->
         <el-row>
            <el-col>
               <vm-grid-holiday>
                  <vm-form-holiday></vm-form-holiday>
               </vm-grid-holiday>
            </el-col>
         </el-row>
      </el-card>
   </div>
</body>
<!-- 先引入 Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script type="text/javascript" src="scripts/plugins/elementui.min.js"></script>

<!-- 常用控件库 -->
<script type="text/javascript" src="scripts/plugins/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="scripts/plugins/moment/moment.min.js"></script>

<!-- 自定义JS库 -->
<script type="text/javascript" src="scripts/common/jquery.ajax.js"></script>
<script type="text/javascript" src="scripts/common/components-init.js"></script>

<script type="text/javascript" src="scripts/common/jquery.form.js"></script>
<script type="text/javascript" src="scripts/common/vue.factory.js"></script>
<script type="text/javascript" src="scripts/common/languages.cn.js"></script>
<script type="text/javascript" src="scripts/plugins/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="scripts/plugins/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="scripts/plugins/clockpicker/bootstrap-clockpicker.js"></script>

<script type="text/javascript" src="scripts/plugins/moment/moment.zh-cn.js"></script>
<script type="text/javascript" src="scripts/plugins/layer/layer.js"></script>
<script type="text/javascript" src="scripts/plugins/heatmap-2.0.2.min.js"></script>
<script type="text/javascript" src="scripts/plugins/datatables/datatables.min.js"></script>
<script type="text/javascript" src="scripts/plugins/datatables/DT_bootstrap.js"></script>
<script>
   vueOptions = {
      data() {
         return {
            PageTitle: LoaderDict.Business.S_Role.Title,//"图参数定义",
            Button: {
               type: "create",
               btncolor: "primary"
            }
         }
      },
      methods: {
         FormVisible() {
            this.$Bus.$emit('Form.Visible');
         },
      }
   };
</script>

</html>
