<html>

<head>
   <meta charset="UTF-8">
   <base href="../">
   <meta http-equiv="content-type" content="text/html;charset=utf-8;" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="styles/plugins/elementui.css">
   <link rel="stylesheet" href="components/css-loader.css">
   <link rel="stylesheet" href="styles/plugins/font-awesome.css">
   <link rel="stylesheet" href="styles/style.css">

   <title>组件开发环境</title>
   <style>
   </style>
</head>

<body>
   <div id="app">
      <vp-widget-portrait></vp-widget-portrait>
   </div>
</body>
<!-- 先引入 Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="scripts/plugins/vuex.js"></script>
<!-- 引入组件库 -->
<script type="text/javascript" src="scripts/plugins/elementui.min.js"></script>
<!-- 常用控件库 -->
<script type="text/javascript" src="scripts/plugins/pubsub.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script type="text/javascript" src="scripts/plugins/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="scripts/plugins/moment/moment.min.js"></script>
<script type="text/javascript" src="scripts/plugins/moment/moment.zh-cn.js"></script>
<script type="text/javascript" src="scripts/plugins/heatmap-2.0.2.min.js"></script>
<script type="text/javascript" src="scripts/plugins/echarts.min.js"></script>

<!-- 自定义JS库 -->
<script type="text/javascript" src="scripts/common/jquery.ajax.js"></script>
<script type="text/javascript" src="scripts/common/widget.methods.js"></script>


<script type="text/javascript" src="scripts/common/languages.cn.js"></script>
<script type="text/javascript" src="scripts/common/components-init.js"></script>
<script>
   vueOptions = {
      data() {
      }
   }
</script>
<style>
</style>
